@font-face {
    src: url("fonts/CursedTimerULiL.ttf");
    font-family: ScoreBoard;
        }

body {
    margin: 0;
    text-align: center;
    background: #1B244A;
    
}

.container {
    display: flex;
    justify-content: space-around;
    color: #EEEEEE;
    padding-bottom: 50px;
    
}

#home-score, #guest-score{
    background: #080001;
    font-family: ScoreBoard;
    font-size: 90px;
    color:#F94F6D;
    width: 150px;
    margin: 20px;
    padding-top: 20px;
    border-radius: 5px;
}

button{
    background: none;
    font-family: ScoreBoard;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 3px;
    padding: 8px 6px;
}

h3{
 font-size: 40px;
 margin-bottom: -10px;
}